openapi: 3.0.3

info:
  title: FireFly Cloud API
  version: "9999.99.99"

servers:
  - url: https://api.fireflylx.com

security:
  - CognitoJWT: []

tags:
  - name: Health
    description: Service health check
  - name: Devices
    description: Device registration and verification
  - name: Registration Keys
    description: One-time device registration key management
  - name: Firmware
    description: Firmware lifecycle management
  - name: OTA
    description: Over-the-air firmware update delivery
  - name: Users
    description: User and environment access management (super user only)
  - name: Configuration
    description: Logging configuration management via the Configuration UI (super user only)

paths:

  /users:
    get:
      tags: [Users]
      summary: List users
      description: |
        Returns all active users (Cognito accounts and pending invitations).
        Expired invitations are excluded. Super user access is required.
      operationId: listUsers
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Users]
      summary: Invite a user
      description: |
        Adds a user to the allowed list and sends an invitation. The user must
        sign in with Google within 24 hours before the invitation expires.

        Super user access is required.
      operationId: inviteUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
            example:
              email: user@example.com
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInviteResponse'
              example:
                email: user@example.com
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: User is already in the allowed list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' is already in the allowed list"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{email}:
    patch:
      tags: [Users]
      summary: Update a user
      description: |
        Updates a user's super user status. `is_super` is required.

        - `is_super` — adds or removes the user from the Cognito `super_users`
          group. The last super user cannot be demoted.

        Super user access is required.
      operationId: patchUser
      parameters:
        - $ref: '#/components/parameters/UserEmail'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
            examples:
              grant_super:
                summary: Grant super user status
                value:
                  is_super: true
              revoke_super:
                summary: Revoke super user status
                value:
                  is_super: false
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User not found in Cognito (may not have signed in yet)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' not found in Cognito"
        '409':
          description: Cannot demote the last super user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Cannot remove super status from the last super user. Promote another user first."
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Users]
      summary: Delete a user
      description: |
        Removes the user from both Cognito and the DynamoDB allowed list.
        Access is revoked immediately. Super user access is required.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserEmail'
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "user@example.com has been deleted"
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' not found"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appconfig:
    get:
      tags: [Configuration]
      summary: List function configurations
      description: |
        Returns all `firefly-func-*` Lambda functions with their individual AppConfig
        configuration. Functions that have never been configured appear with `null`
        values and use the default WARNING log level. Super user access is required.
      operationId: listAppConfig
      responses:
        '200':
          description: List of Lambda functions with their configuration state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigListResponse'
              example:
                applications:
                  - name: firefly-func-api-firmware-get
                    logging: WARNING
                    version: 3
                    deployed_version: 3
                    status: COMPLETE
                  - name: firefly-func-api-ota-get
                    logging: INFO
                    version: 1
                    deployed_version: 1
                    status: COMPLETE
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appconfig/{function_name}:
    patch:
      tags: [Configuration]
      summary: Stage logging configuration
      description: |
        Creates a new hosted configuration version for the specified Lambda function.
        The new version is **staged only** — it does not take effect until deployed
        via `POST /appconfig/{function_name}/deploy`. If no AppConfig application
        exists for the function it is created automatically.

        Super user access is required.
      operationId: patchAppConfig
      parameters:
        - name: function_name
          in: path
          required: true
          description: Full Lambda function name (must start with `firefly-func-`)
          schema:
            type: string
          example: firefly-func-api-firmware-get
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppConfigRequest'
            example:
              logging: INFO
      responses:
        '200':
          description: Configuration staged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAppConfigResponse'
              example:
                name: firefly-func-api-firmware-get
                logging: INFO
                version: 4
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Lambda function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags: [Configuration]
      summary: Remove configuration
      description: |
        Removes the AppConfig application for the specified Lambda function,
        including all staged versions, the configuration profile, the environment,
        and the application itself. The function reverts to the default WARNING
        log level. Returns 409 if a deployment is currently in progress.

        Super user access is required.
      operationId: deleteAppConfig
      parameters:
        - name: function_name
          in: path
          required: true
          description: Full Lambda function name (must start with `firefly-func-`)
          schema:
            type: string
          example: firefly-func-api-firmware-get
      responses:
        '204':
          description: Configuration removed successfully
        '400':
          description: function_name does not start with `firefly-func-`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid function name: must start with 'firefly-func-'"
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No AppConfig application found for this function
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '409':
          description: A deployment is in progress — wait for it to complete before deleting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appconfig/{function_name}/deploy:
    post:
      tags: [Configuration]
      summary: Deploy staged configuration
      description: |
        Deploys the latest staged configuration version for the specified Lambda
        function using the `AppConfig.AllAtOnce` deployment strategy. Returns 409
        if a deployment is already in progress for this function's environment.

        Super user access is required.
      operationId: deployAppConfig
      parameters:
        - name: function_name
          in: path
          required: true
          description: Full Lambda function name (must start with `firefly-func-`)
          schema:
            type: string
          example: firefly-func-api-firmware-get
      responses:
        '200':
          description: Deployment started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployAppConfigResponse'
              example:
                name: firefly-func-api-firmware-get
                version: 4
                environment: dev
                status: DEPLOYING
        '400':
          description: function_name does not start with `firefly-func-`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid function name: must start with 'firefly-func-'"
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No AppConfig application or staged version found for this function
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '409':
          description: A deployment is already in progress — wait for it to complete before deploying again
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /registration-keys:
    get:
      tags: [Registration Keys]
      summary: List active registration keys
      description: |
        Returns all active (non-expired) registration keys generated by the
        authenticated user. Keys are matched by Cognito `sub`, so each user
        sees only their own keys. Keys past their 30-minute TTL are excluded
        even if DynamoDB has not yet purged them.

        Results are sorted by `generated_at` ascending. An empty list is
        returned when the user has no active keys.
      operationId: listRegistrationKeys
      responses:
        '200':
          description: List of active registration keys for the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationKeyListResponse'
              example:
                registration_keys:
                  - key: AB1234
                    generated_at: 1714556400
                    expires_at: 1714557600
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Registration Keys]
      summary: Generate a registration key
      description: |
        Generates a 6-character uppercase alphanumeric one-time registration key
        and stores it in DynamoDB with a 30-minute TTL. The caller shares the key
        with the person performing device registration — they enter it into the
        HW-Reg Cloud Registration screen. Each key is consumed and deleted when a
        device registers successfully.

        The key is stored alongside the generating user's Cognito `sub` and email
        so that the registered device can record who authorized the registration.
      operationId: createRegistrationKey
      responses:
        '201':
          description: Key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationKeyCreateResponse'
              example:
                key: AB1234
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /devices/register:
    post:
      tags: [Devices]
      summary: Register a device
      description: |
        Registers a FireFly device by creating a record in the `firefly-devices`
        DynamoDB table. Called by the HW-Reg application during the Cloud
        Registration step.

        The request must include a valid one-time `X-Registration-Key` header.
        The function validates the key, writes the device record (recording the
        email of the user who generated the key as `registered_by_email`), and
        deletes the consumed key.

        Registration is idempotent: if the device UUID already exists the
        function returns `204` immediately without modifying the existing record.

        This endpoint does **not** require a Cognito JWT — it is authenticated
        solely by the one-time registration key.
      operationId: registerDevice
      security: []
      parameters:
        - name: X-Registration-Key
          in: header
          required: true
          description: 6-character one-time registration key generated by `POST /registration-keys`
          schema:
            type: string
            minLength: 6
            maxLength: 6
            example: AB1234
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '204':
          description: Device registered (or already registered — idempotent)
        '400':
          description: Missing or invalid field, malformed UUID, invalid `product_hex`, or invalid public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                missing_header:
                  summary: Missing or wrong-length registration key header
                  value:
                    message: "X-Registration-Key header is required and must be 6 characters"
                missing_field:
                  summary: Missing required body field
                  value:
                    message: "uuid is required"
                invalid_uuid:
                  summary: Invalid UUID format
                  value:
                    message: "uuid must be a valid UUID"
                invalid_product_hex:
                  summary: Invalid product_hex format
                  value:
                    message: "product_hex must match 0xXXXXXXXX"
                invalid_public_key:
                  summary: Invalid public key encoding or format
                  value:
                    message: "public_key must be a Base64-encoded uncompressed P-256 point (65 bytes, prefix 0x04)"
        '401':
          description: Registration key not found, invalid, or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Invalid or expired registration key"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /devices/{uuid}/registration:
    get:
      tags: [Devices]
      summary: Verify device registration
      description: |
        Verifies that a device is registered with FireFly-Cloud and authenticates
        the request by verifying an ECDSA P-256 signature over a caller-supplied
        nonce using the public key stored at registration time. Called by the
        HW-Reg application at boot.

        This endpoint has **no** Cognito JWT authorizer — it is authenticated
        solely by the device's cryptographic signature.
      operationId: getDeviceRegistration
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          description: Device UUID
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: X-Device-UUID
          in: header
          required: true
          description: Must match the `{uuid}` path parameter
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: X-Device-Nonce
          in: header
          required: true
          description: Base64-encoded 32-byte random nonce
          schema:
            type: string
            example: AAECBAUGB...
        - name: X-Device-Timestamp
          in: header
          required: true
          description: ISO 8601 UTC timestamp (e.g. `2025-05-09T12:00:00Z`).
          schema:
            type: string
            format: date-time
        - name: X-Device-Signature
          in: header
          required: true
          description: Base64-encoded DER ECDSA P-256 signature over SHA-256(nonce_bytes || timestamp_ascii_bytes)
          schema:
            type: string
      responses:
        '200':
          description: Device is registered and signature is valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistrationResponse'
              example:
                uuid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                product_id: FFC0806-2505
                product_hex: "0x08062505"
                device_class: CONTROLLER
                registration_date: "2025-04-01T12:00:00+00:00"
                registering_application: Hardware-Registration-and-Configuration
                registering_version: "2025.04.01"
        '400':
          description: Missing required headers, invalid Base64, nonce is not 32 bytes, or malformed timestamp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                missing_headers:
                  summary: One or more required headers absent
                  value:
                    message: "X-Device-UUID, X-Device-Nonce, X-Device-Timestamp, and X-Device-Signature headers are required"
                invalid_base64:
                  summary: Non-Base64 nonce or signature value
                  value:
                    message: "X-Device-Nonce and X-Device-Signature must be valid Base64"
                wrong_nonce_length:
                  summary: Nonce is not exactly 32 bytes after decoding
                  value:
                    message: "X-Device-Nonce must be 32 bytes"
                invalid_timestamp:
                  summary: Timestamp is not valid ISO 8601 UTC
                  value:
                    message: "X-Device-Timestamp must be ISO 8601 UTC (e.g. 2025-05-09T12:00:00Z)"
        '401':
          description: Device UUID not found in the registry, signature verification failed, or timestamp outside the acceptance window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                not_registered:
                  summary: Device UUID not in the devices table
                  value:
                    message: "Device not registered"
                bad_signature:
                  summary: Signature does not verify against the stored public key
                  value:
                    message: "Signature verification failed"
                timestamp_out_of_window:
                  summary: Timestamp is outside the acceptance window
                  value:
                    message: "X-Device-Timestamp is outside the acceptance window"
        '403':
          description: "`X-Device-UUID` header does not match `{uuid}` path parameter"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID header does not match path parameter"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /devices/{uuid}/backup:
    post:
      tags: [Devices]
      summary: Store encrypted configuration backup
      description: |
        Stores an encrypted FFCE-format configuration backup for a device.
        The body must start with the 4-byte magic `FFCE` and may not exceed 512 KB.

        Supports conditional upload: supply `If-None-Match` with the ETag of the
        existing backup to skip the write when the content has not changed.

        This endpoint has **no** Cognito JWT authorizer — it is authenticated
        solely by the device's cryptographic signature.
      operationId: postDeviceBackup
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          description: Device UUID
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: X-Device-UUID
          in: header
          required: true
          description: Must match the `{uuid}` path parameter
          schema:
            type: string
            format: uuid
        - name: X-Device-Nonce
          in: header
          required: true
          description: Base64-encoded 32-byte random nonce
          schema:
            type: string
        - name: X-Device-Timestamp
          in: header
          required: true
          description: ISO 8601 UTC timestamp (e.g. `2025-05-09T12:00:00Z`).
          schema:
            type: string
            format: date-time
        - name: X-Device-Signature
          in: header
          required: true
          description: Base64-encoded DER ECDSA P-256 signature over SHA-256(nonce_bytes || timestamp_ascii_bytes)
          schema:
            type: string
        - name: If-None-Match
          in: header
          required: false
          description: ETag of the existing backup. If the content is unchanged the server returns 304 without re-uploading.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: Raw FFCE-format encrypted binary blob (max 512 KB). Must begin with the 4-byte magic `FFCE`.
      responses:
        '200':
          description: Backup stored successfully
          headers:
            ETag:
              description: MD5 hex digest of the stored backup, quoted
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Backup stored"
                last_backup_date: "2025-05-09T12:00:00Z"
        '304':
          description: Backup content identical to existing — no write performed
          headers:
            ETag:
              description: ETag of the unchanged backup
              schema:
                type: string
        '400':
          description: Missing or invalid headers, invalid Base64, empty body, body exceeds 512 KB limit, or body does not start with `FFCE` magic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                missing_headers:
                  summary: Required device-auth headers absent
                  value:
                    message: "X-Device-UUID, X-Device-Nonce, X-Device-Timestamp, and X-Device-Signature headers are required"
                invalid_ffce:
                  summary: Body does not start with FFCE magic bytes
                  value:
                    message: "Body does not appear to be a valid FFCE backup"
        '401':
          description: Device UUID not found, signature invalid, or timestamp outside the acceptance window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                not_registered:
                  value:
                    message: "Device not registered"
                bad_signature:
                  value:
                    message: "Signature verification failed"
        '403':
          description: "`X-Device-UUID` header does not match `{uuid}` path parameter"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID header does not match path parameter"
        '413':
          description: Payload exceeds the 512 KB limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Payload exceeds maximum size of 512 KB"
        '500':
          $ref: '#/components/responses/InternalServerError'

    get:
      tags: [Devices]
      summary: Retrieve stored configuration backup
      description: |
        Returns the encrypted FFCE-format backup blob stored for this device.

        This endpoint has **no** Cognito JWT authorizer — it is authenticated
        solely by the device's cryptographic signature.
      operationId: getDeviceBackup
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          description: Device UUID
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: X-Device-UUID
          in: header
          required: true
          description: Must match the `{uuid}` path parameter
          schema:
            type: string
            format: uuid
        - name: X-Device-Nonce
          in: header
          required: true
          description: Base64-encoded 32-byte random nonce
          schema:
            type: string
        - name: X-Device-Timestamp
          in: header
          required: true
          description: ISO 8601 UTC timestamp (e.g. `2025-05-09T12:00:00Z`).
          schema:
            type: string
            format: date-time
        - name: X-Device-Signature
          in: header
          required: true
          description: Base64-encoded DER ECDSA P-256 signature over SHA-256(nonce_bytes || timestamp_ascii_bytes)
          schema:
            type: string
      responses:
        '200':
          description: Encrypted backup binary
          headers:
            ETag:
              description: MD5 hex digest of the backup content, quoted
              schema:
                type: string
            Content-Length:
              description: Size of the binary body in bytes
              schema:
                type: integer
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                description: Raw FFCE-format encrypted binary blob
        '400':
          description: Missing or invalid headers or invalid Base64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID, X-Device-Nonce, X-Device-Timestamp, and X-Device-Signature headers are required"
        '401':
          description: Device UUID not found, signature invalid, or timestamp outside the acceptance window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                not_registered:
                  value:
                    message: "Device not registered"
                bad_signature:
                  value:
                    message: "Signature verification failed"
        '403':
          description: "`X-Device-UUID` header does not match `{uuid}` path parameter"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID header does not match path parameter"
        '404':
          description: No backup found for this device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "No backup found for this device"
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Devices]
      summary: Delete stored configuration backup
      description: |
        Removes the stored backup for this device and clears `last_backup_date`
        from the device record. Idempotent — succeeds even if no backup exists.

        This endpoint has **no** Cognito JWT authorizer — it is authenticated
        solely by the device's cryptographic signature.
      operationId: deleteDeviceBackup
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          description: Device UUID
          schema:
            type: string
            format: uuid
            example: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        - name: X-Device-UUID
          in: header
          required: true
          description: Must match the `{uuid}` path parameter
          schema:
            type: string
            format: uuid
        - name: X-Device-Nonce
          in: header
          required: true
          description: Base64-encoded 32-byte random nonce
          schema:
            type: string
        - name: X-Device-Timestamp
          in: header
          required: true
          description: ISO 8601 UTC timestamp (e.g. `2025-05-09T12:00:00Z`).
          schema:
            type: string
            format: date-time
        - name: X-Device-Signature
          in: header
          required: true
          description: Base64-encoded DER ECDSA P-256 signature over SHA-256(nonce_bytes || timestamp_ascii_bytes)
          schema:
            type: string
      responses:
        '200':
          description: Backup deleted (or did not exist)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Backup deleted"
        '400':
          description: Missing or invalid headers or invalid Base64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID, X-Device-Nonce, X-Device-Timestamp, and X-Device-Signature headers are required"
        '401':
          description: Device UUID not found, signature invalid, or timestamp outside the acceptance window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              examples:
                not_registered:
                  value:
                    message: "Device not registered"
                bad_signature:
                  value:
                    message: "Signature verification failed"
        '403':
          description: "`X-Device-UUID` header does not match `{uuid}` path parameter"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "X-Device-UUID header does not match path parameter"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health:
    get:
      tags: [Health]
      summary: Health check
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: OK

  /firmware:
    get:
      tags: [Firmware]
      summary: List firmware
      description: |
        Returns all firmware records. Results can be filtered by `product_id`
        and/or `version`. Because the same product and version can have multiple
        builds (different commits), the `zip_name` field is the unique identifier
        for a specific build.

        The `files` field is excluded from list responses to keep payloads small;
        use `GET /firmware/{zip_name}` to retrieve the full record.
      operationId: listFirmware
      parameters:
        - name: product_id
          in: query
          required: false
          description: Filter results to a specific product
          schema:
            $ref: '#/components/schemas/ProductId'
        - name: application
          in: query
          required: false
          description: Filter results to a specific application
          schema:
            $ref: '#/components/schemas/Application'
        - name: version
          in: query
          required: false
          description: Filter results to a specific version
          schema:
            $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: List of firmware records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}:
    get:
      tags: [Firmware]
      summary: Get firmware
      description: |
        Returns the full firmware record for a specific build, including the
        `files` array. Use the `zip_name` returned from `GET /firmware` to
        identify the build.
      operationId: getFirmware
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '200':
          description: Firmware record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Firmware]
      summary: Delete firmware
      description: |
        Deletes the firmware ZIP, which asynchronously triggers an
        update to the firmware record:

        - If the firmware was `RELEASED`, status transitions to `REVOKED`
        - Otherwise, status transitions to `DELETED`

        Returns `202 Accepted` immediately; the status update occurs
        asynchronously.
      operationId: deleteFirmware
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '202':
          description: Deletion initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Deletion initiated
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Firmware is already in a non-deletable state (DELETED, REVOKED, or RELEASED). RELEASED firmware must be transitioned to REVOKED via `PATCH /firmware/{zip_name}/status` before it can be removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware is already in state 'RELEASED'"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /ota/{class}/{product_hex}:
    get:
      tags: [OTA]
      summary: Get OTA firmware manifest
      description: |
        Returns an [esp32FOTA](https://github.com/BrentIO/esp32FOTA)-compatible
        manifest for the next `RELEASED` firmware version the device should install.
        The `current_version` query parameter is required.

        The endpoint returns the oldest `RELEASED` version whose version string is
        strictly greater than `current_version`. If the device is already on the
        latest released version, `200 OK` is returned with the same version manifest
        (the esp32FOTA library uses `semver_compare` to detect no-update; it treats
        any non-200 response as an error). Returns `409 Conflict` if the device's
        current version is no longer `RELEASED` (revoked) and no newer version exists.

        Returns `404 Not Found` if no `RELEASED` firmware exists at all for the
        given `class` and `product_hex` combination.

        See the [OTA Update Flow](/cloud/ota_update_flow) for full scenario documentation.
      operationId: getOtaManifest
      security: []
      parameters:
        - name: class
          in: path
          required: true
          description: Hardware class (e.g., `controller`). Case-insensitive; normalized to lowercase.
          schema:
            type: string
            example: controller
        - name: product_hex
          in: path
          required: true
          description: Product identifier as a lowercase hexadecimal string (e.g., `0x32322505`). Case-insensitive; normalized to lowercase.
          schema:
            type: string
            example: "0x32322505"
        - name: current_version
          in: query
          required: true
          description: |
            The firmware version string currently running on the device (e.g. `2026.03.01`).
            Used to determine the next version in the sequential update chain.
          schema:
            $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: |
            OTA manifest. If `version` matches `current_version`, the device is
            already up to date and no download will occur.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtaManifest'
              example:
                type: "FireFly Controller"
                version: "2026.03.01"
                url: "https://firmware.somewhere.com/controller/0x32322505/2026.03.01/Controller.ino.bin"
                littlefs: "https://firmware.somewhere.com/controller/0x32322505/2026.03.01/www.bin"
        '400':
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "current_version is required"
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Device's current version is no longer RELEASED (revoked) and no newer
            RELEASED version is available. Manual intervention is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Current version '2026.03.01' is no longer released and no newer version is available"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}/download:
    get:
      tags: [Firmware]
      summary: Get firmware download URL
      description: |
        Returns a pre-signed S3 URL for downloading the firmware ZIP from the
        private bucket. The URL expires after 15 minutes.

        This endpoint is intended for testing — it provides temporary access to
        the raw ZIP without exposing the private bucket publicly.

        Returns `409 Conflict` if the firmware is still being processed, and
        `410 Gone` if it has been deleted.
      operationId: getFirmwareDownload
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '200':
          description: Pre-signed download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: "https://firefly-firmware.s3.amazonaws.com/processed/550e8400-e29b-41d4-a716-446655440000.zip?X-Amz-Algorithm=..."
                expires_in: 900
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Firmware is still being processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware is still being processed"
        '410':
          description: Firmware has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware has been deleted"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}/status:
    patch:
      tags: [Firmware]
      summary: Update firmware status
      description: |
        Transitions a firmware build to a new `release_status`.

        Valid transitions:

        | From | To |
        |---|---|
        | `READY_TO_TEST` | `TESTING` |
        | `TESTING` | `READY_TO_TEST` |
        | `TESTING` | `RELEASED` |
        | `RELEASED` | `REVOKED` |

        Any other transition returns `422 Unprocessable Entity`.
      operationId: patchFirmwareStatus
      parameters:
        - $ref: '#/components/parameters/ZipName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdateRequest'
            examples:
              approve_for_testing:
                summary: Approve for testing
                value:
                  release_status: TESTING
              release:
                summary: Release to public
                value:
                  release_status: RELEASED
              revoke:
                summary: Revoke a released firmware
                value:
                  release_status: REVOKED
      responses:
        '200':
          description: Status updated; returns the full updated record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareRecord'
        '400':
          description: Missing required field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Missing required field: release_status"
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Invalid status transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
              example:
                message: "Cannot transition from 'READY_TO_TEST' to 'RELEASED'"
                current_status: READY_TO_TEST
                allowed_transitions: [TESTING]
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  securitySchemes:
    CognitoJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Cognito-issued JWT token. Obtain via Google OAuth sign-in through the FireFly UI.

  parameters:
    UserEmail:
      name: email
      in: path
      required: true
      description: Email address of the user
      schema:
        type: string
        format: email
        example: user@example.com

    ZipName:
      name: zip_name
      in: path
      required: true
      description: UUID filename of the firmware build (e.g. `550e8400-e29b-41d4-a716-446655440000.zip`)
      schema:
        $ref: '#/components/schemas/ZipName'

    ProductIdPath:
      name: product_id
      in: path
      required: true
      description: Product identifier
      schema:
        $ref: '#/components/schemas/ProductId'

    ApplicationPath:
      name: application
      in: path
      required: true
      description: Application name
      schema:
        $ref: '#/components/schemas/Application'

  schemas:

    # -------------------------------------------------------------------------
    # Field schemas — each field defined once and referenced by object schemas
    # -------------------------------------------------------------------------

    ProductId:
      type: string
      description: Product identifier. Assigned by the manufacturer to uniquely identify a hardware model.
      example: FFC3232-2603

    Version:
      type: string
      description: |
        Firmware version in YYYY.mm.release format. Note that the same product
        and version may have multiple builds with different commits; use
        `zip_name` to uniquely identify a specific build.
      example: 2026.03.01

    Class:
      type: string
      description: Firmware classification, as defined in the manifest.
      example: CONTROLLER

    Application:
      type: string
      description: Application name, as defined in the manifest.
      example: Controller

    Branch:
      type: string
      description: Git branch the firmware was built from.
      example: main

    Commit:
      type: string
      description: Git commit hash the firmware was built from.
      example: e23ff88

    Created:
      type: string
      description: ISO 8601 timestamp of when the firmware was built, as recorded in the manifest.
      example: "2026-02-05T22:50:53Z"

    ZipName:
      type: string
      description: |
        UUID filename assigned to the firmware ZIP at upload time. This is the
        unique identifier for a specific build and is used as the resource
        identifier in single-item API paths.
      example: 550e8400-e29b-41d4-a716-446655440000.zip

    OriginalName:
      type: string
      description: Original filename of the ZIP as uploaded by the GitHub Action.
      example: FFC3232-2603-2026.03.01.zip

    ZipSha256:
      type: string
      description: SHA-256 checksum of the firmware ZIP file.
      example: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a

    ZipSize:
      type: integer
      description: Size of the firmware ZIP file in bytes.
      example: 204800

    UploadedAt:
      type: integer
      description: Unix timestamp of when the firmware was processed by the upload handler.
      example: 1741910400

    ErrorMessage:
      type: string
      description: Human-readable description of why the upload failed. Present only when `release_status` is `ERROR`.
      example: "SHA256 mismatch for Controller.ino.bin"

    ReleaseStatus:
      type: string
      description: |
        Current lifecycle state of the firmware build.

        - `PROCESSING` — upload handler is actively working on the file
        - `READY_TO_TEST` — upload succeeded; awaiting approval
        - `TESTING` — actively being tested
        - `RELEASED` — publicly available
        - `REVOKED` — was released; subsequently pulled back
        - `DELETED` — removed before release
        - `ERROR` — upload failed; see `error` field for details
      enum:
        - PROCESSING
        - READY_TO_TEST
        - TESTING
        - RELEASED
        - REVOKED
        - DELETED
        - ERROR

    # -------------------------------------------------------------------------
    # Device / Registration-key schemas
    # -------------------------------------------------------------------------

    DeviceUuid:
      type: string
      format: uuid
      description: RFC 4122 UUID uniquely identifying a device.
      example: a1b2c3d4-e5f6-7890-abcd-ef1234567890

    DeviceClass:
      type: string
      description: Device class (e.g. `CONTROLLER`).
      example: CONTROLLER

    PublicKey:
      type: string
      description: |
        Base64-encoded uncompressed P-256 ECDSA public key (65 bytes,
        starting with prefix `0x04`).
      example: BHHv...

    RegistrationDate:
      type: string
      format: date-time
      description: ISO 8601 timestamp of when the device was registered.
      example: "2025-04-01T12:00:00+00:00"

    RegisteringApplication:
      type: string
      description: Name of the application that performed registration.
      example: Hardware-Registration-and-Configuration

    RegisteringVersion:
      type: string
      description: Version string of the application that performed registration.
      example: "2025.04.01"

    RegistrationKeyRecord:
      type: object
      description: An active one-time registration key entry.
      properties:
        key:
          type: string
          description: 6-character uppercase alphanumeric registration key.
          minLength: 6
          maxLength: 6
          example: AB1234
        generated_at:
          type: integer
          description: Unix timestamp when the key was generated.
          example: 1714556400
        expires_at:
          type: integer
          description: Unix timestamp when the key expires (30 minutes after generation).
          example: 1714557600

    RegistrationKeyListResponse:
      type: object
      properties:
        registration_keys:
          type: array
          description: Active registration keys for the authenticated user, sorted by `generated_at` ascending.
          items:
            $ref: '#/components/schemas/RegistrationKeyRecord'

    RegistrationKeyCreateResponse:
      type: object
      properties:
        key:
          type: string
          description: Generated 6-character uppercase alphanumeric one-time key.
          minLength: 6
          maxLength: 6
          example: AB1234

    McuInfo:
      type: object
      description: |
        MCU hardware information reported by the device at registration time.
        All fields are stored verbatim; only `model` is required by the API.
      properties:
        model:
          type: string
          description: MCU model identifier.
          example: ESP32-D0WD-V3
        revision:
          type: integer
          example: 3
        cpu_freq_mhz:
          type: integer
          example: 240
        cores:
          type: integer
          example: 2
        flash_chip_size:
          type: integer
          example: 16777216
        flash_chip_speed:
          type: integer
          example: 80000000
        flash_chip_mode:
          type: string
          example: QIO
        psram_size:
          type: integer
          example: 0
        idf_version:
          type: string
          example: v5.3.2
        features:
          type: array
          items:
            type: string
          example: ["WiFi-bgn", "BLE", "Embedded-Flash"]

    NetworkInterface:
      type: object
      description: A single network interface reported by the device at registration time.
      properties:
        interface:
          type: string
          description: Interface type (e.g. `wifi`, `wifi_ap`, `bluetooth`, `ethernet`).
          example: wifi
        mac_address:
          type: string
          description: MAC address in colon-hex notation.
          example: "DE:AD:BE:EF:00:01"

    PartitionEntry:
      type: object
      description: A single partition table entry reported by the device at registration time.
      properties:
        type:
          type: integer
          example: 0
        subtype:
          type: integer
          example: 0
        address:
          type: integer
          example: 36864
        size:
          type: integer
          example: 16384
        label:
          type: string
          example: nvs

    RegisterDeviceRequest:
      type: object
      required:
        - uuid
        - product_id
        - product_hex
        - device_class
        - public_key
        - registering_application
        - registering_version
        - mcu
      properties:
        uuid:
          $ref: '#/components/schemas/DeviceUuid'
        product_id:
          $ref: '#/components/schemas/ProductId'
        product_hex:
          type: string
          description: Hexadecimal product identifier in `0xXXXXXXXX` format.
          example: "0x08062505"
        device_class:
          $ref: '#/components/schemas/DeviceClass'
        public_key:
          $ref: '#/components/schemas/PublicKey'
        registering_application:
          $ref: '#/components/schemas/RegisteringApplication'
        registering_version:
          $ref: '#/components/schemas/RegisteringVersion'
        mcu:
          $ref: '#/components/schemas/McuInfo'
        network:
          type: array
          description: Network interfaces present on the device. Optional.
          items:
            $ref: '#/components/schemas/NetworkInterface'
        partitions:
          type: array
          description: Partition table entries from the device. Optional.
          items:
            $ref: '#/components/schemas/PartitionEntry'

    DeviceRegistrationResponse:
      type: object
      description: Device registration record returned on successful verification.
      properties:
        uuid:
          $ref: '#/components/schemas/DeviceUuid'
        product_id:
          $ref: '#/components/schemas/ProductId'
        product_hex:
          type: string
          description: Hexadecimal product identifier.
          example: "0x08062505"
        device_class:
          $ref: '#/components/schemas/DeviceClass'
        registration_date:
          $ref: '#/components/schemas/RegistrationDate'
        registering_application:
          $ref: '#/components/schemas/RegisteringApplication'
        registering_version:
          $ref: '#/components/schemas/RegisteringVersion'

    # -------------------------------------------------------------------------
    # Users schemas
    # -------------------------------------------------------------------------

    Environment:
      type: string
      description: Deployment environment identifier.
      enum: [dev, production]
      example: dev

    UserRecord:
      type: object
      description: A user record returned by GET /users.
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        name:
          type: string
          description: Display name from Google. Absent for INVITED users who have not yet signed in.
          example: Jane Smith
        is_super:
          type: boolean
          description: Whether the user is a member of the super_users Cognito group.
          example: false
        status:
          type: string
          description: |
            Cognito user status, or `INVITED` for users who have not yet signed in.
          example: CONFIRMED
        created:
          type: string
          description: ISO 8601 timestamp of when the user record was created.
          example: "2026-03-01T12:00:00Z"
        invited_by:
          type: string
          format: email
          description: Email of the super user who invited this user.
          example: admin@example.com

    UserInviteResponse:
      type: object
      description: Response body returned when a user invitation is successfully created.
      properties:
        email:
          type: string
          format: email
          example: user@example.com

    UserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserRecord'

    InviteUserRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: user@example.com

    PatchUserRequest:
      type: object
      required:
        - is_super
      properties:
        is_super:
          type: boolean
          description: Grant (`true`) or revoke (`false`) super user status.
          example: false

    PatchUserResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        is_super:
          type: boolean
          example: false

    # -------------------------------------------------------------------------
    # AppConfig schemas
    # -------------------------------------------------------------------------

    LogLevel:
      type: string
      description: Python logging level.
      enum: [DEBUG, INFO, WARNING, ERROR, CRITICAL]
      example: INFO

    AppConfigApplication:
      type: object
      description: A Lambda function with its AppConfig configuration state.
      properties:
        name:
          type: string
          description: Full Lambda function name.
          example: firefly-func-api-firmware-get
        logging:
          type: string
          nullable: true
          description: Current deployed log level. Null if the function has never been configured.
          enum: [DEBUG, INFO, WARNING, ERROR, CRITICAL]
          example: WARNING
        version:
          type: integer
          nullable: true
          description: Latest staged configuration version number. Null if unconfigured.
          example: 3
        deployed_version:
          type: integer
          nullable: true
          description: Most recently deployed configuration version number. Null if never deployed.
          example: 3
        status:
          type: string
          nullable: true
          description: |
            State of the most recent deployment. Null if the function has never been configured.
            Active states include `DEPLOYING`, `BAKING`, `VALIDATING`, `COMPLETE`, `ROLLED_BACK`.
          example: COMPLETE

    AppConfigListResponse:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/AppConfigApplication'

    PatchAppConfigRequest:
      type: object
      required:
        - logging
      properties:
        logging:
          $ref: '#/components/schemas/LogLevel'

    PatchAppConfigResponse:
      type: object
      properties:
        name:
          type: string
          description: Lambda function name that was updated.
          example: firefly-func-api-firmware-get
        logging:
          $ref: '#/components/schemas/LogLevel'
        version:
          type: integer
          description: Staged configuration version number (not yet deployed).
          example: 4

    DeployAppConfigResponse:
      type: object
      properties:
        name:
          type: string
          description: Lambda function name being deployed.
          example: firefly-func-api-firmware-get
        version:
          type: integer
          description: Configuration version number being deployed.
          example: 4
        environment:
          type: string
          description: Deployment environment name.
          example: dev
        status:
          type: string
          description: Deployment state at time of response (typically `DEPLOYING`).
          example: DEPLOYING

    # -------------------------------------------------------------------------
    # Object schemas
    # -------------------------------------------------------------------------

    FirmwareFile:
      type: object
      description: A single file entry from the firmware manifest.
      properties:
        name:
          type: string
          description: Filename as it appears in the ZIP archive.
          example: Controller.ino.bin
        sha256:
          type: string
          description: Expected SHA-256 checksum of the file, verified at upload time.
          minLength: 64
          maxLength: 64
          example: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a

    FirmwareListItem:
      type: object
      description: Firmware record as returned in list responses. The `files` field is excluded; use `GET /firmware/{zip_name}` for the full record.
      properties:
        product_id:
          $ref: '#/components/schemas/ProductId'
        version:
          $ref: '#/components/schemas/Version'
        class:
          $ref: '#/components/schemas/Class'
        application:
          $ref: '#/components/schemas/Application'
        branch:
          $ref: '#/components/schemas/Branch'
        commit:
          $ref: '#/components/schemas/Commit'
        created:
          $ref: '#/components/schemas/Created'
        release_status:
          $ref: '#/components/schemas/ReleaseStatus'
        zip_name:
          $ref: '#/components/schemas/ZipName'
        original_name:
          $ref: '#/components/schemas/OriginalName'
        zip_sha256:
          $ref: '#/components/schemas/ZipSha256'
        zip_size:
          $ref: '#/components/schemas/ZipSize'
        uploaded_at:
          $ref: '#/components/schemas/UploadedAt'
        error:
          $ref: '#/components/schemas/ErrorMessage'

    FirmwareRecord:
      allOf:
        - $ref: '#/components/schemas/FirmwareListItem'
        - type: object
          properties:
            files:
              type: array
              description: File entries from the firmware manifest, including per-file SHA-256 checksums verified at upload time.
              items:
                $ref: '#/components/schemas/FirmwareFile'
              example:
                - name: Controller.ino.partitions.bin
                  sha256: 91e416b59e687fb4d5ed79c950d0c4bb31dd33f798d050d5a4d527e0b5bc26f6
                - name: Controller.ino.elf
                  sha256: 897bfe21b087df397974dd2fccce67bf856b85d7ccdb4ef4388064f7b15f77bd
                - name: config.bin
                  sha256: c9a87d2f315a7ef6a03681f73703ee782e65e36695503deca7e20b85acb3a89c
                - name: Controller.ino.bootloader.bin
                  sha256: 46bde3db1313aecbba0c368a16b7988f0b0d45505688fa14cf7d28407019aa11
                - name: Controller.ino.bin
                  sha256: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a
                - name: Controller.ino.map
                  sha256: 60e6cffd067a82107e48cafa453953e015789ae9227d2023ec8dbd170071b266
                - name: www.bin
                  sha256: b9e47219850379ea3a92d226f020988a4fd233a5a240bf1a48361b8aaea4da3b
            partition_offsets:
              type: object
              nullable: true
              description: |
                Map of ESP32 partition names to their flash byte offsets, parsed from the
                firmware's `partitions.bin` at upload time. Used by the UI to resolve flash
                addresses for dynamic partitions (e.g. `config`, `www`). Absent or empty
                for ERROR records or firmware ingested before this field was introduced.
              additionalProperties:
                type: integer
              example:
                nvs: 36864
                otadata: 57344
                app0: 65536
                config: 3276800
                www: 3473408

    FirmwareListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareListItem'

    StatusUpdateRequest:
      type: object
      required:
        - release_status
      properties:
        release_status:
          $ref: '#/components/schemas/ReleaseStatus'

    OtaManifest:
      type: object
      description: |
        esp32FOTA-compatible firmware manifest. The `url` field points to the main
        application binary. The `littlefs` field, when present, points to the
        LittleFS/SPIFFS partition image. Both URLs serve files from the CloudFront
        firmware distribution.
      required:
        - type
        - version
        - url
      properties:
        type:
          type: string
          description: Firmware type string as expected by the esp32FOTA library on the device.
          example: "FireFly Controller"
        version:
          $ref: '#/components/schemas/Version'
        url:
          type: string
          description: CloudFront URL to the main application firmware binary.
          example: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/Controller.ino.bin"
        littlefs:
          type: string
          description: CloudFront URL to the LittleFS partition image. Omitted if no LittleFS image is present in the firmware.
          example: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/www.bin"

    DownloadResponse:
      type: object
      properties:
        url:
          type: string
          description: Pre-signed S3 URL to download the firmware ZIP. Valid for `expires_in` seconds.
          example: "https://firefly-firmware.s3.amazonaws.com/processed/550e8400-e29b-41d4-a716-446655440000.zip?X-Amz-Algorithm=..."
        expires_in:
          type: integer
          description: Number of seconds until the URL expires.
          example: 900

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: OK

    MessageResponse:
      type: object
      properties:
        message:
          type: string

    TransitionErrorResponse:
      type: object
      properties:
        message:
          type: string
        current_status:
          $ref: '#/components/schemas/ReleaseStatus'
        allowed_transitions:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseStatus'

  responses:
    BadRequest:
      description: Missing or invalid request field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: "email is required"

    Unauthorized:
      description: Missing or invalid authentication credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: Unauthorized

    Forbidden:
      description: Caller is not a super user, or is attempting to grant access to an environment they don't have
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: Forbidden

    NotFound:
      description: Firmware record not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: "Firmware not found: 550e8400-e29b-41d4-a716-446655440000.zip"

    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: Internal server error
