openapi: 3.0.3

info:
  title: FireFly API
  version: 2026.03.01

servers:
  - url: https://api.p5software.com

tags:
  - name: Health
    description: Service health check
  - name: Firmware
    description: Firmware lifecycle management
  - name: OTA
    description: Over-the-air firmware update delivery
  - name: Users
    description: User and environment access management (super user only)
  - name: Configuration
    description: Logging configuration management via the Configuration UI (super user only)

paths:

  /users:
    get:
      tags: [Users]
      summary: List users
      description: |
        Returns all active users (Cognito accounts and pending invitations).
        Expired invitations are excluded. Super user access is required.
      operationId: listUsers
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags: [Users]
      summary: Invite a user
      description: |
        Adds a user to the allowed list and sends an invitation. The user must
        sign in with Google within 24 hours before the invitation expires.

        The caller may only grant environments they themselves have access to.
        Super user access is required.
      operationId: inviteUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
            example:
              email: user@example.com
              environments: [dev]
      responses:
        '201':
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                email: user@example.com
                environments: [dev]
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: User is already in the allowed list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' is already in the allowed list"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{email}:
    patch:
      tags: [Users]
      summary: Update a user
      description: |
        Updates a user's super user status and/or environment access. At least
        one field must be provided.

        - `is_super` — adds or removes the user from the Cognito `super_users`
          group. The last super user cannot be demoted.
        - `environments` — replaces the user's environment list. The caller may
          only grant environments they themselves have access to.

        Super user access is required.
      operationId: patchUser
      parameters:
        - $ref: '#/components/parameters/UserEmail'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchUserRequest'
            examples:
              grant_super:
                summary: Grant super user status
                value:
                  is_super: true
              update_environments:
                summary: Update environment access
                value:
                  environments: [dev, production]
              both:
                summary: Update both fields
                value:
                  is_super: false
                  environments: [dev]
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User not found in Cognito (may not have signed in yet)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' not found in Cognito"
        '409':
          description: Cannot demote the last super user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Cannot remove super status from the last super user. Promote another user first."
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Users]
      summary: Delete a user
      description: |
        Removes the user from both Cognito and the DynamoDB allowed list.
        Access is revoked immediately. Super user access is required.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserEmail'
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "user@example.com has been deleted"
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "User 'user@example.com' not found"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appconfig:
    get:
      tags: [Configuration]
      summary: List configuration applications
      description: |
        Returns all AWS AppConfig applications that have a `logging` configuration
        profile in the current environment, along with each application's current
        logging rules. Super user access is required.
      operationId: listAppConfig
      responses:
        '200':
          description: List of applications with logging configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppConfigListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /appconfig/{application}:
    patch:
      tags: [Configuration]
      summary: Update logging configuration
      description: |
        Replaces the logging configuration for the specified AWS AppConfig application.
        A new hosted configuration version is created and immediately deployed
        using the `AppConfig.AllAtOnce` deployment strategy.

        Each rule is a single-key object mapping a function name prefix to a log
        level (`DEBUG`, `INFO`, `WARNING`, `ERROR`, `CRITICAL`). When a function
        name matches multiple prefixes the most verbose level is used.

        Super user access is required.
      operationId: patchAppConfig
      parameters:
        - name: application
          in: path
          required: true
          description: AWS AppConfig application name (matches the Lambda function name)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppConfigRequest'
            example:
              logging:
                - firefly-func-api: INFO
                - firefly-func-s3: DEBUG
      responses:
        '200':
          description: Logging configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAppConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Application not found or has no logging profile in this environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health:
    get:
      tags: [Health]
      summary: Health check
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: OK

  /firmware:
    get:
      tags: [Firmware]
      summary: List firmware
      description: |
        Returns all firmware records. Results can be filtered by `product_id`
        and/or `version`. Because the same product and version can have multiple
        builds (different commits), the `zip_name` field is the unique identifier
        for a specific build.

        The `files` field is excluded from list responses to keep payloads small;
        use `GET /firmware/{zip_name}` to retrieve the full record.
      operationId: listFirmware
      parameters:
        - name: product_id
          in: query
          required: false
          description: Filter results to a specific product
          schema:
            $ref: '#/components/schemas/ProductId'
        - name: application
          in: query
          required: false
          description: Filter results to a specific application
          schema:
            $ref: '#/components/schemas/Application'
        - name: version
          in: query
          required: false
          description: Filter results to a specific version
          schema:
            $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: List of firmware records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareListResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}:
    get:
      tags: [Firmware]
      summary: Get firmware
      description: |
        Returns the full firmware record for a specific build, including the
        `files` array. Use the `zip_name` returned from `GET /firmware` to
        identify the build.
      operationId: getFirmware
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '200':
          description: Firmware record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareRecord'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags: [Firmware]
      summary: Delete firmware
      description: |
        Deletes the firmware ZIP, which asynchronously triggers an
        update to the firmware record:

        - If the firmware was `RELEASED`, status transitions to `REVOKED`
        - Otherwise, status transitions to `DELETED`

        Returns `202 Accepted` immediately; the status update occurs
        asynchronously.
      operationId: deleteFirmware
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '202':
          description: Deletion initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Deletion initiated
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Firmware is already in a non-deletable state (DELETED, REVOKED, or RELEASED). RELEASED firmware must be transitioned to REVOKED via `PATCH /firmware/{zip_name}/status` before it can be removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware is already in state 'RELEASED'"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /ota/{product_id}/{application}:
    get:
      tags: [OTA]
      summary: Get OTA firmware manifest
      description: |
        Returns an [esp32FOTA](https://github.com/BrentIO/esp32FOTA)-compatible
        manifest for the next `RELEASED` firmware version the device should install.
        The `current_version` query parameter is required.

        The endpoint returns the oldest `RELEASED` version whose version string is
        strictly greater than `current_version`. If the device is already on the
        latest released version, `200 OK` is returned with the same version manifest
        (the esp32FOTA library uses `semver_compare` to detect no-update; it treats
        any non-200 response as an error). Returns `409 Conflict` if the device's
        current version is no longer `RELEASED` (revoked) and no newer version exists.

        Returns `404 Not Found` if no `RELEASED` firmware exists at all for the
        given `product_id` and `application` combination.

        See the [OTA Update Flow](/cloud/ota_update_flow) for full scenario documentation.
      operationId: getOtaManifest
      parameters:
        - $ref: '#/components/parameters/ProductIdPath'
        - $ref: '#/components/parameters/ApplicationPath'
        - name: current_version
          in: query
          required: true
          description: |
            The firmware version string currently running on the device (e.g. `2026.03.01`).
            Used to determine the next version in the sequential update chain.
          schema:
            $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: |
            OTA manifest. If `version` matches `current_version`, the device is
            already up to date and no download will occur.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtaManifest'
              example:
                type: "FireFly Controller"
                version: "2026.03.01"
                url: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/Controller.ino.bin"
                littlefs: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/www.bin"
        '400':
          description: Missing required query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "current_version is required"
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: |
            Device's current version is no longer RELEASED (revoked) and no newer
            RELEASED version is available. Manual intervention is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Current version '2026.03.01' is no longer released and no newer version is available"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}/download:
    get:
      tags: [Firmware]
      summary: Get firmware download URL
      description: |
        Returns a pre-signed S3 URL for downloading the firmware ZIP from the
        private bucket. The URL expires after 15 minutes.

        This endpoint is intended for testing — it provides temporary access to
        the raw ZIP without exposing the private bucket publicly.

        Returns `409 Conflict` if the firmware is still being processed, and
        `410 Gone` if it has been deleted.
      operationId: getFirmwareDownload
      parameters:
        - $ref: '#/components/parameters/ZipName'
      responses:
        '200':
          description: Pre-signed download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: "https://firefly-firmware.s3.amazonaws.com/processed/550e8400-e29b-41d4-a716-446655440000.zip?X-Amz-Algorithm=..."
                expires_in: 900
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Firmware is still being processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware is still being processed"
        '410':
          description: Firmware has been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Firmware has been deleted"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /firmware/{zip_name}/status:
    patch:
      tags: [Firmware]
      summary: Update firmware status
      description: |
        Transitions a firmware build to a new `release_status`.

        Valid transitions:

        | From | To |
        |---|---|
        | `READY_TO_TEST` | `TESTING` |
        | `TESTING` | `RELEASED` |
        | `RELEASED` | `REVOKED` |

        Any other transition returns `422 Unprocessable Entity`.
      operationId: patchFirmwareStatus
      parameters:
        - $ref: '#/components/parameters/ZipName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdateRequest'
            examples:
              approve_for_testing:
                summary: Approve for testing
                value:
                  release_status: TESTING
              release:
                summary: Release to public
                value:
                  release_status: RELEASED
              revoke:
                summary: Revoke a released firmware
                value:
                  release_status: REVOKED
      responses:
        '200':
          description: Status updated; returns the full updated record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareRecord'
        '400':
          description: Missing required field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: "Missing required field: release_status"
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Invalid status transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
              example:
                message: "Cannot transition from 'READY_TO_TEST' to 'RELEASED'"
                current_status: READY_TO_TEST
                allowed_transitions: [TESTING]
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  parameters:
    UserEmail:
      name: email
      in: path
      required: true
      description: Email address of the user
      schema:
        type: string
        format: email
        example: user@example.com

    ZipName:
      name: zip_name
      in: path
      required: true
      description: UUID filename of the firmware build (e.g. `550e8400-e29b-41d4-a716-446655440000.zip`)
      schema:
        $ref: '#/components/schemas/ZipName'

    ProductIdPath:
      name: product_id
      in: path
      required: true
      description: Product identifier
      schema:
        $ref: '#/components/schemas/ProductId'

    ApplicationPath:
      name: application
      in: path
      required: true
      description: Application name
      schema:
        $ref: '#/components/schemas/Application'

  schemas:

    # -------------------------------------------------------------------------
    # Field schemas — each field defined once and referenced by object schemas
    # -------------------------------------------------------------------------

    ProductId:
      type: string
      description: Product identifier. Assigned by the manufacturer to uniquely identify a hardware model.
      example: FFC3232-2603

    Version:
      type: string
      description: |
        Firmware version in YYYY.mm.release format. Note that the same product
        and version may have multiple builds with different commits; use
        `zip_name` to uniquely identify a specific build.
      example: 2026.03.01

    Class:
      type: string
      description: Firmware classification, as defined in the manifest.
      example: CONTROLLER

    Application:
      type: string
      description: Application name, as defined in the manifest.
      example: Controller

    Branch:
      type: string
      description: Git branch the firmware was built from.
      example: main

    Commit:
      type: string
      description: Git commit hash the firmware was built from.
      example: e23ff88

    Created:
      type: string
      description: ISO 8601 timestamp of when the firmware was built, as recorded in the manifest.
      example: "2026-02-05T22:50:53Z"

    ZipName:
      type: string
      description: |
        UUID filename assigned to the firmware ZIP at upload time. This is the
        unique identifier for a specific build and is used as the resource
        identifier in single-item API paths.
      example: 550e8400-e29b-41d4-a716-446655440000.zip

    OriginalName:
      type: string
      description: Original filename of the ZIP as uploaded by the GitHub Action.
      example: FFC3232-2603-2026.03.01.zip

    ZipSha256:
      type: string
      description: SHA-256 checksum of the firmware ZIP file.
      example: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a

    ZipSize:
      type: integer
      description: Size of the firmware ZIP file in bytes.
      example: 204800

    UploadedAt:
      type: integer
      description: Unix timestamp of when the firmware was processed by the upload handler.
      example: 1741910400

    ErrorMessage:
      type: string
      description: Human-readable description of why the upload failed. Present only when `release_status` is `ERROR`.
      example: "SHA256 mismatch for Controller.ino.bin"

    ReleaseStatus:
      type: string
      description: |
        Current lifecycle state of the firmware build.

        - `PROCESSING` — upload handler is actively working on the file
        - `READY_TO_TEST` — upload succeeded; awaiting approval
        - `TESTING` — actively being tested
        - `RELEASED` — publicly available
        - `REVOKED` — was released; subsequently pulled back
        - `DELETED` — removed before release
        - `ERROR` — upload failed; see `error` field for details
      enum:
        - PROCESSING
        - READY_TO_TEST
        - TESTING
        - RELEASED
        - REVOKED
        - DELETED
        - ERROR

    # -------------------------------------------------------------------------
    # Users schemas
    # -------------------------------------------------------------------------

    Environment:
      type: string
      description: Deployment environment identifier.
      enum: [dev, production]
      example: dev

    UserRecord:
      type: object
      description: A user record returned by GET /users.
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        name:
          type: string
          description: Display name from Google. Absent for INVITED users who have not yet signed in.
          example: Jane Smith
        environments:
          type: array
          description: Environments the user is permitted to access.
          items:
            $ref: '#/components/schemas/Environment'
          example: [dev]
        is_super:
          type: boolean
          description: Whether the user is a member of the super_users Cognito group.
          example: false
        status:
          type: string
          description: |
            Cognito user status, or `INVITED` for users who have not yet signed in.
          example: CONFIRMED
        created:
          type: string
          description: ISO 8601 timestamp of when the user record was created.
          example: "2026-03-01T12:00:00Z"
        invited_by:
          type: string
          format: email
          description: Email of the super user who invited this user.
          example: admin@example.com

    UserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserRecord'

    InviteUserRequest:
      type: object
      required:
        - email
        - environments
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        environments:
          type: array
          description: Environments to grant the invited user access to.
          minItems: 1
          items:
            $ref: '#/components/schemas/Environment'
          example: [dev]

    PatchUserRequest:
      type: object
      description: At least one field must be provided.
      properties:
        is_super:
          type: boolean
          description: Grant (`true`) or revoke (`false`) super user status.
          example: false
        environments:
          type: array
          description: Replace the user's environment access list.
          minItems: 1
          items:
            $ref: '#/components/schemas/Environment'
          example: [dev, production]

    PatchUserResponse:
      type: object
      description: Echoes back only the fields that were updated.
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        is_super:
          type: boolean
          example: false
        environments:
          type: array
          items:
            $ref: '#/components/schemas/Environment'
          example: [dev, production]

    # -------------------------------------------------------------------------
    # AppConfig schemas
    # -------------------------------------------------------------------------

    LogLevel:
      type: string
      description: Python logging level.
      enum: [DEBUG, INFO, WARNING, ERROR, CRITICAL]
      example: INFO

    LoggingRule:
      type: object
      description: |
        A single logging rule mapping a function name prefix to a log level.
        The object must have exactly one key.
      additionalProperties:
        $ref: '#/components/schemas/LogLevel'
      example:
        firefly-func-api: INFO

    AppConfigApplication:
      type: object
      description: An AppConfig application with its current logging configuration.
      properties:
        id:
          type: string
          description: AppConfig application ID.
          example: abc1234xyz
        name:
          type: string
          description: Application name (matches the Lambda function name).
          example: firefly-func-api-firmware-get
        environment_id:
          type: string
          description: AppConfig environment ID for the current deployment environment.
          example: def5678uvw
        profile_id:
          type: string
          description: AppConfig configuration profile ID for the logging profile.
          example: ghi9012rst
        logging:
          type: array
          description: Current logging rules. Null if no hosted configuration version exists.
          nullable: true
          items:
            $ref: '#/components/schemas/LoggingRule'
          example:
            - firefly-func-api: INFO
            - firefly-func-s3: DEBUG

    AppConfigListResponse:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/AppConfigApplication'

    PatchAppConfigRequest:
      type: object
      required:
        - logging
      properties:
        logging:
          type: array
          description: |
            Replacement logging rules. An empty array clears all rules.
          items:
            $ref: '#/components/schemas/LoggingRule'
          example:
            - firefly-func-api: INFO
            - firefly-func-s3: DEBUG

    PatchAppConfigResponse:
      type: object
      properties:
        application:
          type: string
          description: Application name that was updated.
          example: firefly-func-api-firmware-get
        version:
          type: integer
          description: Hosted configuration version number that was created and deployed.
          example: 5
        logging:
          type: array
          description: The new logging rules as stored.
          items:
            $ref: '#/components/schemas/LoggingRule'
          example:
            - firefly-func-api: INFO
            - firefly-func-s3: DEBUG

    # -------------------------------------------------------------------------
    # Object schemas
    # -------------------------------------------------------------------------

    FirmwareFile:
      type: object
      description: A single file entry from the firmware manifest.
      properties:
        name:
          type: string
          description: Filename as it appears in the ZIP archive.
          example: Controller.ino.bin
        sha256:
          type: string
          description: Expected SHA-256 checksum of the file, verified at upload time.
          minLength: 64
          maxLength: 64
          example: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a

    FirmwareListItem:
      type: object
      description: Firmware record as returned in list responses. The `files` field is excluded; use `GET /firmware/{zip_name}` for the full record.
      properties:
        product_id:
          $ref: '#/components/schemas/ProductId'
        version:
          $ref: '#/components/schemas/Version'
        class:
          $ref: '#/components/schemas/Class'
        application:
          $ref: '#/components/schemas/Application'
        branch:
          $ref: '#/components/schemas/Branch'
        commit:
          $ref: '#/components/schemas/Commit'
        created:
          $ref: '#/components/schemas/Created'
        release_status:
          $ref: '#/components/schemas/ReleaseStatus'
        zip_name:
          $ref: '#/components/schemas/ZipName'
        original_name:
          $ref: '#/components/schemas/OriginalName'
        zip_sha256:
          $ref: '#/components/schemas/ZipSha256'
        zip_size:
          $ref: '#/components/schemas/ZipSize'
        uploaded_at:
          $ref: '#/components/schemas/UploadedAt'
        error:
          $ref: '#/components/schemas/ErrorMessage'

    FirmwareRecord:
      allOf:
        - $ref: '#/components/schemas/FirmwareListItem'
        - type: object
          properties:
            files:
              type: array
              description: File entries from the firmware manifest, including per-file SHA-256 checksums verified at upload time.
              items:
                $ref: '#/components/schemas/FirmwareFile'
              example:
                - name: Controller.ino.partitions.bin
                  sha256: 91e416b59e687fb4d5ed79c950d0c4bb31dd33f798d050d5a4d527e0b5bc26f6
                - name: Controller.ino.elf
                  sha256: 897bfe21b087df397974dd2fccce67bf856b85d7ccdb4ef4388064f7b15f77bd
                - name: config.bin
                  sha256: c9a87d2f315a7ef6a03681f73703ee782e65e36695503deca7e20b85acb3a89c
                - name: Controller.ino.bootloader.bin
                  sha256: 46bde3db1313aecbba0c368a16b7988f0b0d45505688fa14cf7d28407019aa11
                - name: Controller.ino.bin
                  sha256: 6509153b68e2886861daad8eb01ab8dfd16bffacf1e519d2c144ab7682af024a
                - name: Controller.ino.map
                  sha256: 60e6cffd067a82107e48cafa453953e015789ae9227d2023ec8dbd170071b266
                - name: www.bin
                  sha256: b9e47219850379ea3a92d226f020988a4fd233a5a240bf1a48361b8aaea4da3b

    FirmwareListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/FirmwareListItem'

    StatusUpdateRequest:
      type: object
      required:
        - release_status
      properties:
        release_status:
          $ref: '#/components/schemas/ReleaseStatus'

    OtaManifest:
      type: object
      description: |
        esp32FOTA-compatible firmware manifest. The `url` field points to the main
        application binary. The `littlefs` field, when present, points to the
        LittleFS/SPIFFS partition image. Both URLs serve files from the CloudFront
        firmware distribution.
      required:
        - type
        - version
        - url
      properties:
        type:
          type: string
          description: Firmware type string as expected by the esp32FOTA library on the device.
          example: "FireFly Controller"
        version:
          $ref: '#/components/schemas/Version'
        url:
          type: string
          description: CloudFront URL to the main application firmware binary.
          example: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/Controller.ino.bin"
        littlefs:
          type: string
          description: CloudFront URL to the LittleFS partition image. Omitted if no LittleFS image is present in the firmware.
          example: "https://firmware.somewhere.com/FFC3232-2603/Controller/2026.03.01/www.bin"

    DownloadResponse:
      type: object
      properties:
        url:
          type: string
          description: Pre-signed S3 URL to download the firmware ZIP. Valid for `expires_in` seconds.
          example: "https://firefly-firmware.s3.amazonaws.com/processed/550e8400-e29b-41d4-a716-446655440000.zip?X-Amz-Algorithm=..."
        expires_in:
          type: integer
          description: Number of seconds until the URL expires.
          example: 900

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: OK

    MessageResponse:
      type: object
      properties:
        message:
          type: string

    TransitionErrorResponse:
      type: object
      properties:
        message:
          type: string
        current_status:
          $ref: '#/components/schemas/ReleaseStatus'
        allowed_transitions:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseStatus'

  responses:
    BadRequest:
      description: Missing or invalid request field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: "email is required"

    Forbidden:
      description: Caller is not a super user, or is attempting to grant access to an environment they don't have
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: Forbidden

    NotFound:
      description: Firmware record not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: "Firmware not found: 550e8400-e29b-41d4-a716-446655440000.zip"

    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'
          example:
            message: Internal server error
