name: ⚠️ ⚠️ Delete All

on:
  workflow_dispatch:

permissions:
  contents: read
  actions: write

jobs:

  delete-dynamodb-firmware:
    uses: ./.github/workflows/delete-dynamodb-firmware.yaml
    secrets: inherit

  delete-s3-firmware:
    uses: ./.github/workflows/delete-s3-firmware.yaml
    secrets: inherit

  delete-api-health:

     uses: ./.github/workflows/delete-func-api-health-get.yaml
     secrets: inherit

  delete-api-gateway:
    needs:
      - delete-api-health
    uses: ./.github/workflows/delete-api-gateway.yaml
    secrets: inherit

  delete-acm:
    needs:
      - delete-api-gateway
    uses: ./.github/workflows/delete-acm.yaml
    secrets: inherit
    
  delete-func-s3-firmware-uploaded:
    needs:
      - delete-s3-firmware
    uses: ./.github/workflows/delete-func-s3-firmware-uploaded.yaml
    secrets: inherit

  delete-func-s3-firmware-deleted:
    needs:
      - delete-s3-firmware
    uses: ./.github/workflows/delete-func-s3-firmware-deleted.yaml
    secrets: inherit

